:root{
  --bg1:#ffd6e7;
  --bg2:#dbeafe;
  --bg3:#fce7f3;

  --card:#ffffffc4;
  --stroke:#ffffff;
  --shadow: 0 24px 80px rgba(0,0,0,.16);

  --text:#151515;
  --muted:#3a3a3a;

  --yes:#22c55e;
  --no:#ef4444;
}

body{
  margin:0;
  font-family: system-ui, Arial;
  background: linear-gradient(135deg, var(--bg1), var(--bg2), var(--bg3));
  overflow:hidden;
}

/* CONTENEDOR PRINCIPAL */
.wrap{
  min-height:100vh;
  display:grid;
  place-items:center;
  padding:18px;
  position:relative;
  z-index:5;
}

.card{
  width:min(700px,90vw);
  background:var(--card);
  border-radius:25px;
  padding:30px;
  text-align:center;
  box-shadow:var(--shadow);
}

h1{
  margin:6px 0;
}

.subtitle{
  color:var(--muted);
}

.cta{
  margin-top:20px;
  display:flex;
  justify-content:center;
  gap:15px;
}

/* BOTONES */
.btn{
  border:none;
  padding:14px 22px;
  font-size:18px;
  border-radius:14px;
  cursor:pointer;
  box-shadow:0 14px 30px rgba(0,0,0,.2);
}

.yes{
  background:var(--yes);
  color:white;
}

.no{
  background:var(--no);
  color:white;
}

/* FOTOS DISPERSAS */
.photo-field{
  position:fixed;
  inset:0;
  pointer-events:none;
  z-index:1;
}

.polaroid{
  position:absolute;
  width:170px;
  aspect-ratio:1/1;
  background:#fff;
  border-radius:14px;
  padding:10px;
  box-shadow:0 18px 50px rgba(0,0,0,.18);
  border:1px solid #fff;
  opacity:.9;
  transform: rotate(var(--rot));
}

.polaroid img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:10px;
}

/* CORAZONES FLOTANDO */
#hearts{
  position:fixed;
  inset:0;
  pointer-events:none;
  z-index:2;
}

.heart{
  position:absolute;
  width:16px;
  height:16px;
  background:#ff2d55;
  transform:rotate(45deg);
  opacity:.25;
  animation: floatUp linear infinite;
}

.heart::before,
.heart::after{
  content:"";
  position:absolute;
  width:16px;
  height:16px;
  background:#ff2d55;
  border-radius:50%;
}

.heart::before{
  left:-8px;
}

.heart::after{
  top:-8px;
}

@keyframes floatUp{
  from{transform:translateY(0) rotate(45deg);}
  to{transform:translateY(-120vh) r



